body {
    background-color: rgb(20, 19, 19);
}

#titleBar {
    background-color: rgba(0, 0, 0, 0);
}

#reduceBtn {
    left: calc(100vw - 100px);
}

img.logo {
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: 20vw;
    pointer-events: none;
}

button.loginBtn {
    width: 50vw;
    height: 7vh;
    position: absolute;
    top: 45vh;
    background-color: rgb(26, 207, 26);
    border-radius: 1vw;
    border: none;
    font-size: 5vw;
    color: white;
    font-weight: bold;
}

button.loginBtn:hover {
    cursor: pointer;
    background-color: rgb(23, 180, 23);
}